/* Your custom styles */
.top-nav-collapse {
    background-color: #82b1ff !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}
.tour4couples-intro h5 {
    font-size: 60px ;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #82b1ff !important;
    }
}

h5 {
    letter-spacing: 3px;
}

.jarallax {
    height: 1000px;
}

.list_heading {
    border-bottom:1px solid #eee;
    margin-bottom:5px; 
  }
  .list_content {
    font-size:14px;
    text-align: justify;
  }

  ul {
      list-style:none;
  }

@media (max-width: 740px) {
    .jarallax {
        height: 300px;
    }
}

@media (min-width: 769px) and (max-width: 1025px) {
    .jarallax {
        height: 500px;
    }
}

@media (max-width:580px) {
    .tour4couples-intro h5 {
        font-size: 36px;
        padding-top: 50px;
    }
    .tour4couples-intro h6 {
        font-size: 16px;
        margin-bottom: 5px !important;
    }
    ul {
        padding: 0px;
    }
    h1 {
        font-size: 2rem;
    }
}

.tour4couples-intro {
    height: 100vh;
    background: url(../img/tours4couples_intro.jpeg) no-repeat;
    background-size: cover;
}
.grey-overlay {
    top: 0;
    left: 0;
    height: 100vh;
    background: #000;
    opacity: 0.1;
    z-index: 999;
}
.custom-flex-display {
   
    flex-basis: 100% !important;
    justify-content: center;
}

.tour4couples-intro h6 {
    word-spacing: 5px;
    text-shadow: 1px 1px black;
}

.tour4couples-intro h5 {
    text-shadow: 1px 1px white;
}

/* footer form css*/
@media (max-width:580px) {
    .mobile-icon-prefix {
        left:-8px;
    }
}
/* footer form css*/